@import "/Styles/colors.css";
body {
    background-color: var(--fondoGeneral);
}

header {
    background-color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--textLight);
}

h2:hover {
    color: var(--hoverH2);
}

h3::first-letter {
    color: var(--primerLetraH3);
}

#ejTBloque {    
    padding: 5px;
    background-color: var(--bloqueColor);
    margin: 5px;
    align-self: center;/*Esta es una buena opción para alinear las cosas al centro verticalmente cuando son elementos hijo*/ 
    text-align: center;
    color: var(--textLight);
    justify-content: center;
}

#ejInlineInline {
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-align: center;
}

#etInline {
    background-color: var(--inlineColor);
    color: var(--textLight);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

#etInlineBlock {
    background-color: var(--inlineBlockColor);
    color: var(--textLight);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#etInlineBlock:hover {
    background-color: var(--inlineBlockHover);
}

article {
    background-color: var(--articleColor);
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    border-radius: 8px;
}

aside {
    background-color: var(--asideColor);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: var(--textDark);
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
}
#notasGrid{
    width: 100%;
    height: 100%;
    text-align: left;
}
#contenido{
    border: 2px solid black;
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5px;
    margin: 5px;
    padding: 5px;
}
#contenido img{
    width: 100%;
    height: 100%;
}
.item:nth-child(2){
    grid-area: 3 / 3;
}
.item:nth-child(3){
    grid-area: 2 / 2;
}
.separador {
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
}

.code{
    padding: 10px;
    background-color: black;
    color: white;
    border: 5px solid gray;
}

