:root {
    --fondoGeneral: #1f202e; /* Negro azulado profundo */
    --headerColor: #0E1626; /* Azul oscuro elegante */
    --hoverH2: #4D5159; /* Gris oscuro sofisticado */
    --primerLetraH3: #d1be52; /* Gris claro con un tono cálido */
    --bloqueColor: #0E1626; /* Manteniendo el azul oscuro para bloques */
    --inlineContainer: #D9D4C5; /* Beige claro para balancear */
    --inlineColor: #A6A59F; /* Gris claro para destacar sin ser brillante */
    --inlineBlockColor: #4D5159; /* Gris oscuro para bloques inline */
    --inlineBlockHover: #A6A59F; /* Resaltado con gris claro */
    --articleColor: #00010D; /* Fondo negro para un look moderno */
    --asideColor: #D9D4C5; /* Beige claro para secciones secundarias */
    --textLight: #D9D4C5; /* Texto claro para fondos oscuros */
    --textDark: #00010D; /* Texto oscuro para fondos claros */
}


