@import "/Styles/Colors.css";
h2:hover {
    color: var(--hoverH2);
}

h3::first-letter {
    color: var(--primerLetraH3);
}

#ejTBloque {    
    padding: 5px;
    background-color: var(--bloqueColor);
    margin: 5px;
    align-self: center;/*Esta es una buena opción para alinear las cosas al centro verticalmente cuando son elementos hijo*/ 
    text-align: center;
    color: var(--textLight);
    justify-content: center;
}

#ejInlineInline {
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-align: center;
}

#etInline {
    background-color: var(--inlineColor);
    color: var(--textLight);
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
}

#etInlineBlock {
    background-color: var(--inlineBlockColor);
    color: var(--textLight);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

#etInlineBlock:hover {
    background-color: var(--inlineBlockHover);
}

article {
    background-color: var(--articleColor);
    display: flex;
    /* flex-direction: row-reverse; */
    padding: 10px;
    border-radius: 8px;
}

aside {
    background-color: var(--asideColor);
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    color: var(--textDark);
}
